/* --- iframe modal --- */

footer { text-align: center; }
footer .social-icons { display: none; }
footer .copyright { max-width: 100% !important; float: none !important; -webkit-box-flex: 0 !important; -ms-flex: 0 0 100% !important; flex: 0 0 100% !important; }
#listing-body.container { max-width: 100%; margin: 0; border: none; }

@media (max-width: 575.98px) {
  #careers-jumbotron { height: 80vh; }
  #careers-jumbotron p { font-size: 1.2rem; line-height: 1.8rem; }
  .careers .modal-body iframe { min-height: 85vh; }
  .display-1 { font-size: 3.5rem; font-weight: 300; line-height: 1.0; }
  .display-3 { font-size: 2.5rem; font-weight: 300; line-height: 1; }
  #listing-page table { width: 100%; }
}
